
/*fancy collapsible https://alligator.io/css/collapsible/ */




.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  max-width:800px;
  text-align: justify;
}

.wrap-collapsible:after {
  content: "";
  display: inline-block;
  width: 100%;
}


div.wrap-collabsible a:link {
  color: #ec264e;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1rem;
  color: #ffffff;
  background: #7d8c8e;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  background: #0f67a6;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 630px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #E1EBED;
  color: #241a92;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 3px;
  padding: 1rem 3rem;
}


# Frome here on the original from healey


article .sidenote, article .marginnote {
    margin-bottom: 0.3rem;
}

article .marginnote code, article .sidenote code {
    font-size: inherit;
}

article li {
    width: 100%;
}

article li .sidenote, article li .marginnote {
    margin-right: -55.5%;
}

article ol ol, article ol ul,
article ul ul, article ul ol {
    width: 100%;
}

article ul li ul {
    text-indent: inherit;
}

/* oh hi firefox */
article figure {
    margin-right: 0;
    margin-left: 0;
}

a > code {
    color: inherit;
}

#TOC li {
    margin-top: 0;
}

.wrap li {
    line-height: inherit;
}

.wrap h1 {
    font-size: 2rem;
}

.wrap h2 {
    margin-top: 3rem;
    font-size: 1.75rem;
}

.wrap h3 {
    font-size: 1.35rem;
}

.wrap .table th {
    padding-left: 0.5em;
}

.wrap .table td {
    line-height: 1.2rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

footer {
    font-family: "source-sans-pro", sans-serif;
}

.course-info {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.course-name {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
}

.credits {
    font-size: 1rem;
}

.credit {
    display: inline-block;
    margin-bottom: 0.3rem;
}

ul.footer-links {
    margin-bottom: 1.25rem;
}

.fake-header {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.fake-header-table {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: block;
    padding-top: 1rem;
    border-bottom: 1px solid #909090;
    padding: 1em 0 0.25em;
}

td.mid-table-header {
    text-align: center;
    vertical-align: bottom !important;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

table.schedule {
    border-top: none;
    border-bottom: none;
}

.fake-li {
    font-size: 1rem;
}

.page-date {
    font-style: italic;
    margin-bottom: 2.5rem;
}

img.img50 {max-width: 50%}
img.img75 {max-width: 75%}

@media screen and (max-width: 760px) {
    h1.websitetitle {
        text-align: center;
        line-height: 2.2rem;
    }

    header > nav h1 a {
        padding-right: 0;
        float: inherit;
    }

    header > nav.logo-wrap {
        text-align: center;
        margin-bottom: 2rem;
    }

    header > nav.bottom-group {
        text-align: center;
    }

    header > nav.bottom-group a {
        float: inherit;
    }

    header > nav a.logo {
        float: inherit;
        padding-right: 0;
        padding-top: 0;
    }

    header > nav a img {
        top: 0;
    }
}
